doctype html
html
   head
      title!= "List of Files processed"
      <link rel="stylesheet" type="text/css" href="/style.css" />
   body
      div.docTitle
         h1 List of XQDocs Generated
   div.index
      | Number of files parsed: #{results.number} <br />
      | Directories Excluded: #{results.exclusionDirs}
   div.indexDiv
      table
         tr
            th File Location
            th File
         each val, i in results.files
            tr
               td= val.filePath
               td: a(href= val.jsonPath) #{val.fileName}

   div.docFooter
      |Created by XQDocumenter version 1.0.0 on #{moment().format('MM/DD/YYYY')}